@font-face {
  font-family: 'oracle sans';
  src: url(fonts/OracleSans-Regular.ttf);
}
:root {
  --main-color: #06485f;
  --text-white: #e4f1f7;
  --text-light-white: #c4c4c4;
  --checkbox-color: #009fbf;
  --checkbox-unchecked: #e2faff;
  --body-bg-color: #f1efed;
  --button-bg-color: #00688c;
  --sub-title-color: #b4b4b4;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'oracle sans';
}
.page-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  background-image: url('/images/landing-backgroud-img.svg');
  background-size: cover;
  overflow: hidden;

  display: grid;
  grid-template: 25% 2fr 1fr / 2fr 1fr;
}
.landing-page-logo {
  grid-area: 1 / 1 / 1 / 1;
  margin-left: 5%;
  margin-top: 3%;
}
.landing-page-right-img {
  grid-area: 1 / 2 / span 3;
}
#landing-lady-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#oracle-logo {
  position: fixed;
  bottom: 0;
  right: 7%;
}
.page-content {
  grid-area: 2 / 1 / span 3 / 1;
  margin-left: 5%;
  margin-top: 3%;
  line-height: 20px;
  color: var(--text-white);
}

.page-content h2 {
  font-size: 39px;
  font-weight: 300;
}
.page-content h1 {
  font-size: 63px;
}
.page-content p {
  font-size: 25px;
  font-weight: 150;
  line-height: 35px;
  width: 78%;
}
.page-content button {
  margin-top: 30px;
  padding: 20px 25px;
  font-size: 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-family: 'oracle sans';
}

#signup-title {
  font-size: 35px;
  font-weight: 200;
}
.signup-content {
  margin-top: -5%;
}
#signup-header {
  font-size: 45px;
}

.input-field {
  display: flex;
  flex-direction: column;
}
.input-field input {
  position: relative;
  padding: 2%;
  width: 58%;
  background-color: transparent;
  border: 1px solid var(--text-light-white);
  border-radius: 8px;
  caret-color: var(--text-light-white);
  margin-top: 0.7%;
  color: var(--text-light-white);
  margin-bottom: 1%;
}
.input-field input:focus {
  outline: var(--text-light-white);
}

.input-field label {
  position: absolute;
  z-index: 1000;
  color: white;
  background-color: #07495f;
  padding: 0 0.5%;
  margin-left: 1%;
}

.signup-button {
  width: 62%;
}
#login-prompt {
  font-size: 18px;
  margin: 3% 20%;
}
#login-prompt a {
  color: #f1efed;
  font-weight: 600;
}
.input-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 1.5%;
  margin-top: 6%;
  margin-bottom: -1%;
}
.input-checkbox input {
  appearance: none;
  width: 37px;
  height: 37px;
  border: 1px solid var(--checkbox-color);
  border-radius: 7px;
  background-color: var(--checkbox-unchecked);
  accent-color: var(--text-white);
  cursor: pointer;
  margin-left: 0;
  transition: background 0.2s;
}
.input-checkbox input:checked {
  background-color: var(--checkbox-color);
}
.input-checkbox label {
  font-size: 17px;
  font-weight: 300;
  width: 48%;
  line-height: 25px;
}
.input-checkbox span {
  text-decoration: underline;
}
.password-instructions {
  display: flex;
  flex-direction: column;
  color: #8fbfd0;
  margin-top: 2%;
  margin-bottom: 7%;
}
.password-instructions p {
  margin: 0;
  font-size: 13px;
  font-weight: 200;
  line-height: 18px;
}

.main-container {
  display: grid;
  grid-template: 8% 1fr / 6.5% 1.2fr 1fr;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--body-bg-color);
}
.header {
  grid-area: 1 / 1 / 1 / span 3;
  background-color: var(--main-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}
.sidebar {
  grid-area: 2 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--text-light-white);
}
.nav-links {
  margin-top: 5%;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.bottom-navlinks {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20%;
  margin-top: auto;
}
.profile-right {
  grid-area: 2 / 3;
}
.profile-left {
  grid-area: 2 / 2;
  margin: 3% 7%;

  display: flex;
  flex-direction: column;
}
.profile-left hr {
  width: 100%;
  border: none;
  height: 0.5px;
  opacity: 0.3;
  background-color: var(--main-color);
  margin-left: 0.2%;
}
.page-title {
  color: var(--main-color);
  margin-bottom: 5%;
  font-size: 25px;
}
.profile-edit {
  margin-bottom: 3%;
  width: 100%;
  position: relative;
  background-color: transparent;
  border: 1px solid var(--text-light-white);
  border-radius: 8px;
  caret-color: var(--text-light-white);
  margin-top: 0.7%;
  color: var(--text-light-white);
}
.profile-edit input {
  border: none;
  margin-left: 0.5%;
  font-size: 16px;
}
.profile-edit label {
  background-color: var(--body-bg-color);
  color: var(--main-color);
  padding: 0 1%;
  margin-top: -1.2%;
  margin-left: 1.5%;
}
.edit-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit-field p {
  padding: 0 2%;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.save-button {
  width: 15%;
  padding: 2%;
  align-self: flex-end;
  border: none;
  color: white;
  font-weight: 600;
  font-family: 'oracle sans';
  background-color: var(--button-bg-color);
  border-radius: 8px;
  cursor: pointer;
}
.nhra-edit {
  cursor: not-allowed;
}
.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}
.profile-image-container {
  position: relative;
}
.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #d9d9d9;
  padding: 20px;
  object-fit: cover;
}
.image-edit-icon {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  right: 2%;
  cursor: pointer;
}
.create-study-section {
  grid-area: 2 / 2 / 2 / span 3;
  font-family: 'oracle sans';
}
.settings-content {
  grid-area: 2/2 /2 / span 3;
  margin: 2% 3.5%;
  display: flex;
  flex-direction: column;
}
.settings-content .page-title {
  margin-bottom: 2.25%;
}
.page-subtitle {
  margin: 0;
  font-size: 22px;
  color: var(--sub-title-color);
  margin-bottom: 1.5%;
}
.auth-title {
  color: #7a7a7a;
  margin-bottom: 0;
}
.auth-description {
  color: #7a7a7a;
  margin-top: 0.5%;
  font-size: 20px;
  width: 75%;
}
.auth-button {
  align-self: flex-start;
  padding: 0.9%;
  width: 11%;
  font-size: 14px;
  border-radius: 9px;
  background-color: var(--main-color);
}

/* From Uiverse.io by zanina-yassine */
/* Remove this container when use*/
.component-title {
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 30px;
  left: 0;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #888;
  text-align: center;
}

/* The switch - the box around the slider */
.container,
.container2 {
  width: 51px;
  height: 31px;
  position: relative;
}

/* Hide default HTML checkbox */
.checkbox,
.checkbox2 {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch,
.switch2 {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #e9e9eb;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

/* The slider */
.slider,
.slider2 {
  width: 27px;
  height: 27px;
  position: absolute;
  left: calc(50% - 27px / 2 - 10px);
  top: calc(50% - 27px / 2);
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.checkbox:checked + .switch,
.checkbox2:checked + .switch2 {
  background-color: #65c466;
}

.checkbox:checked + .switch .slider,
.checkbox2:checked + .switch2 .slider2 {
  left: calc(50% - 27px / 2 + 10px);
  top: calc(50% - 27px / 2);
}
.auth-section {
  margin-top: 3%;
  display: flex;
  align-items: center;
  gap: 1%;
}
.auth-section p {
  font-size: 15px;
  color: #7a7a7a;
}
.dark-mode-section {
  margin: 0;
}
.app-theme-title {
  margin-bottom: 1%;
  margin-top: 3%;
}
.button-container {
  display: flex;
  gap: 2%;
  margin-top: 14%;
}
.button-container button {
  width: 13%;
  font-size: 17px;
}
.delete-button {
  background-color: #c74634;
}
.clear-button {
  background-color: #a7a7a7;
}
.table-container {
  width: 85%;
  background: rgba(255, 255, 255, 0.8);

  display: grid;
  grid-template: 63% 1fr / 2fr 1.8fr 1fr;
  
}
.table-header {
  padding-bottom: 7%;
  grid-area: 1 / auto;
}
.file-name {
  padding: 0 3%;
}
.table-content {
  background: rgb(249, 249, 249);
  grid-area: 2 / 1 / 2 / span 3;
}

/* @media (max-width: 768px) {
  .page-container {
    grid-template: 20% 60% 1fr / 1fr;
  }
  .landing-page-logo {
    grid-area: 1 / 1;
    margin: 3%;
  }
  #landing-lady-img {
    display: none;
  }
  .page-content {
    grid-area: 2 / 1;
    margin: 5%;
    line-height: 15px;
    font-family: 'oracle sans', sans-serif;
  }

  .page-content h2 {
    font-size: 35px;
    font-weight: 300;
  }
  .page-content h1 {
    font-size: 55px;
  }
  .page-content p {
    font-size: 20px;
    font-weight: 150;
    line-height: 26px;
    width: 100%;
  }
  .page-content button {
    margin-top: 20px;
    padding: 15px 20px;
    font-size: 16px;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
  }
} */
