@font-face {
  font-family: 'oracle sans';
  src: url(fonts/OracleSans-Regular.ttf);
}
:root {
  --main-color: #06485f;
  --text-white: #e4f1f7;
  --text-light-white: #c4c4c4;
  --checkbox-color: #009fbf;
  --checkbox-unchecked: #e2faff;
  --body-bg-color: #f1efed;
  --button-bg-color: #00688c;
  --sub-title-color: #b4b4b4;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'oracle sans';
}
.page-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  background-image: url('/images/landing-backgroud-img.svg');
  background-size: cover;
  overflow: hidden;

  display: grid;
  grid-template: 25% 2fr 1fr / 2fr 1fr;
}
.landing-page-logo {
  grid-area: 1 / 1 / 1 / 1;
  margin-left: 5%;
  margin-top: 3%;
}
.landing-page-right-img {
  grid-area: 1 / 2 / span 3;
}
#landing-lady-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#oracle-logo {
  position: fixed;
  bottom: 0;
  right: 7%;
}
.page-content {
  grid-area: 2 / 1 / span 3 / 1;
  margin-left: 5%;
  margin-top: 3%;
  line-height: 20px;
  color: var(--text-white);
}

.page-content h2 {
  font-size: 52px;
  font-weight: 300;
}
.page-content h1 {
  font-size: 91px;
}
.page-content p {
  font-size: 47px;
  font-weight: 150;
  line-height: 55px;
  width: 78%;
}
.page-content button {
  margin-top: 30px;
  padding: 30px 45px;
  font-size: 30px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 600;
  font-family: 'oracle sans';
}

#signup-title {
  font-size: 59px;
  font-weight: 200;
}
.signup-content {
  margin-top: -5%;
}
#signup-header {
  font-size: 80px;
  margin-bottom: 4%;
}

.input-field {
  display: flex;
  flex-direction: column;
}
.input-field input {
  position: relative;
  font-size: 20px;
  padding: 2%;
  width: 58%;
  background-color: transparent;
  border: 1px solid var(--text-light-white);
  border-radius: 13px;
  caret-color: var(--text-light-white);
  margin-top: 0.7%;
  color: var(--text-light-white);
  margin-bottom: 1%;
}
.input-field input:focus {
  outline: var(--text-light-white);
}

.input-field label {
  position: absolute;
  z-index: 1000;
  color: white;
  background-color: #07495f;
  padding: 0 0.5%;
  font-size: 25px;
  margin-left: 1%;
}

.signup-button {
  width: 62%;
  margin-top: 10%;
}
#login-prompt {
  font-size: 25px;
  margin: 3% 22.5%;
}
#login-prompt a {
  color: #f1efed;
  font-weight: 600;
}
.input-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 1.5%;
  margin-top: 6%;
  margin-bottom: -1%;
}
.input-checkbox input {
  appearance: none;
  width: 55px;
  height: 55px;
  border: 1px solid var(--checkbox-color);
  border-radius: 7px;
  background-color: var(--checkbox-unchecked);
  accent-color: var(--text-white);
  cursor: pointer;
  margin-left: 0;
  transition: background 0.2s;
}
.input-checkbox input:checked {
  background-color: var(--checkbox-color);
}
.input-checkbox label {
  font-size: 30px;
  font-weight: 300;
  width: 55%;
  line-height: 37px;
}
.input-checkbox span {
  text-decoration: underline;
}
.password-instructions {
  display: flex;
  flex-direction: column;
  color: #8fbfd0;
  margin-top: 2%;
  margin-bottom: 7%;
}
.password-instructions p {
  margin: 0;
  font-size: 20px;
  font-weight: 200;
  line-height: 25px;
}

.main-container {
  display: grid;
  grid-template: 8% 1fr / 6.5% 1.2fr 1fr;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--body-bg-color);
}
.header {
  grid-area: 1 / 1 / 1 / span 3;
  background-color: var(--main-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}
.oracle-logo-small {
  height: 60%;
}
.bell-icon {
  height: 40%;
  cursor: pointer;
}
.sidebar {
  grid-area: 2 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--text-light-white);
}
.nav-links {
  margin-top: 5%;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.nav-links img {
  width: 130%;
}

.bottom-navlinks {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20%;
  margin-top: auto;
}
.bottom-navlinks img {
  width: 20%;
}
#logout-btn {
  width: 130%;
}
.profile-right {
  grid-area: 2 / 3;
}
.profile-left {
  grid-area: 2 / 2;
  margin: 3% 7%;

  display: flex;
  flex-direction: column;
}
.profile-left hr {
  width: 100%;
  border: none;
  height: 0.5px;
  opacity: 0.3;
  background-color: var(--main-color);
  margin-left: 0.2%;
}
.page-title {
  color: var(--main-color);
  margin-bottom: 5%;
  font-size: 25px;
}
.profile-edit {
  margin-bottom: 3%;
  width: 100%;
  position: relative;
  background-color: transparent;
  border: 1px solid var(--text-light-white);
  border-radius: 8px;
  caret-color: var(--text-light-white);
  margin-top: 0.7%;
  color: var(--text-light-white);
}
.profile-edit input {
  border: none;
  margin-left: 0.5%;
  font-size: 16px;
}
.profile-edit label {
  background-color: var(--body-bg-color);
  color: var(--main-color);
  padding: 0 1%;
  margin-top: -1.2%;
  margin-left: 1.5%;
}
.edit-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit-field input {
  color: #c1bfbe;
  font-size: 20px;
}
.edit-field p {
  padding: 0 2%;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.save-button {
  width: 15%;
  padding: 2%;
  align-self: flex-end;
  border: none;
  color: white;
  font-weight: 600;
  font-family: 'oracle sans';
  background-color: var(--button-bg-color);
  border-radius: 8px;
  cursor: pointer;
}
.nhra-edit {
  cursor: not-allowed;
}
.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}
.profile-image-container {
  position: relative;
}
.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #d9d9d9;
  padding: 20px;
  object-fit: cover;
}
.image-edit-icon {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  right: 2%;
  cursor: pointer;
}
.create-study-section {
  grid-area: 2 / 2 / 2 / span 3;
  font-family: 'oracle sans';
}
.starting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 90%;
  gap: 4%;
}
.image-container {
  background: url('/images/create-study-img.svg');
  height: 37.1vmin;
  width: 91.3vmin;
  background-size: cover;
}
.create-study-title {
  font-size: 67.5px;
  color: var(--main-color);
  font-weight: 600;
}
#bar-img {
  padding-top: 2%;
}
.image-overlay {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 9% 4%;
  gap: 1%;
  height: 100%;
}
.image-overlay p {
  font-size: 23px;
  width: 65%;
  margin: 0;
}
.image-overlay h3 {
  font-size: 36px;
  margin: 0;
}
.uncover-button {
  border: 1px solid white;
  background-color: transparent;
  border-radius: 7px;
  padding: 1.5%;
  width: 20%;
  color: white;
  font-size: 14.5px;
  margin-top: 2%;
  font-family: 'oracle sans';
  cursor: pointer;
}
.study-form {
  margin: 6% 15%;
}
.study-form h1 {
  margin: 0;
  font-size: 67px;
  font-weight: 900;
}
.create-study-subtitle {
  margin: 0;
  font-size: 44px;
  color: var(--main-color);
  font-weight: 300;
  margin-bottom: 3%;
}
.create-study-input,
.create-study-hr {
  width: 60.5%;
}
.create-study-input {
  border-color: #93acb4;
}
.create-study-input label {
  font-size: 20px;
  margin-top: -1.5%;
}
.create-study-hr {
  margin-left: 0;
  border-color: #d9dedf;
}
.create-study-input input {
  width: 100%;
}
.create-study-button {
  padding: 1.5%;
  width: 8.5%;
  font-family: 'oracle sans';
  font-size: 21px;
  border-radius: 12px;
}
.settings-content {
  grid-area: 2/2 /2 / span 3;
  margin: 2% 3.5%;
  display: flex;
  flex-direction: column;
}
.settings-content .page-title {
  margin-bottom: 2.25%;
}
.page-subtitle {
  margin: 0;
  font-size: 25px;
  color: var(--sub-title-color);
  margin-bottom: 1.5%;
}
.auth-title {
  color: #7a7a7a;
  margin-bottom: 0;
}
.auth-description {
  color: #7a7a7a;
  margin-top: 0.5%;
  font-size: 25px;
  width: 72%;
}
.auth-button {
  align-self: flex-start;
  padding: 0.6%;
  width: 8%;
  font-size: 16px;
  border-radius: 9px;
  background-color: var(--main-color);
}

/* From Uiverse.io by zanina-yassine */
/* Remove this container when use*/
.component-title {
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 30px;
  left: 0;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #888;
  text-align: center;
}

/* The switch - the box around the slider */
.container,
.container2 {
  width: 51px;
  height: 31px;
  position: relative;
}

/* Hide default HTML checkbox */
.checkbox,
.checkbox2 {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch,
.switch2 {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #e9e9eb;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

/* The slider */
.slider,
.slider2 {
  width: 27px;
  height: 27px;
  position: absolute;
  left: calc(50% - 27px / 2 - 10px);
  top: calc(50% - 27px / 2);
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.checkbox:checked + .switch,
.checkbox2:checked + .switch2 {
  background-color: #65c466;
}

.checkbox:checked + .switch .slider,
.checkbox2:checked + .switch2 .slider2 {
  left: calc(50% - 27px / 2 + 10px);
  top: calc(50% - 27px / 2);
}
.auth-section {
  margin-top: 3%;
  display: flex;
  align-items: center;
  gap: 1%;
}
.auth-section p {
  font-size: 15px;
  color: #7a7a7a;
}
.dark-mode-section {
  margin: 0;
}
.app-theme-title {
  margin-bottom: 1%;
  margin-top: 3%;
}
.button-container {
  display: flex;
  gap: 2%;
  margin: auto 0;
}
.button-container button {
  width: 13%;
  font-size: 17px;
}
.delete-button {
  background-color: #c74634;
}
.clear-button {
  background-color: #a7a7a7;
}
.table-container {
  width: 85%;
  background: rgba(255, 255, 255, 0.8);

  display: grid;
  grid-template: 63% 1fr / 2fr 1.8fr 1fr;
}
.table-header {
  padding-bottom: 7%;
  grid-area: 1 / auto;
}
.file-name {
  padding: 0 3%;
}
.table-content {
  background: rgb(249, 249, 249);
  grid-area: 2 / 1 / 2 / span 3;
}
.upload-scan-container {
  border: 4px dashed #c8c8c8;
  border-radius: 75px;
  padding: 50px 120px;
  text-align: center;
  width: 46%;
  cursor: pointer;
  transition: 0.2s ease;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upload-title {
  font-size: 34px;
  font-weight: 400;
  margin: 0;
}
.upload-subtitle {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  margin-top: 1%;
  color: #797877;
}
.upload-scan-container img {
  width: 100px;
  height: 100px;
  margin-bottom: 2%;
  margin-top: -3%;
}

.upload-btn {
  display: inline-block;
  padding: 12px 36px;
  background: transparent;
  border: 2px solid #cbd0dc;
  border-radius: 10px;
  cursor: pointer;
  font-size: 23px;
  color: #54575c;
  margin-top: 4%;
}
.step-progress {
  display: flex;
  gap: 16px;
  margin-top: 6%;
}

.step {
  height: 4px;
  border-radius: 4px;
  background-color: #d6d6d6;
  width: 29.8%;
  transition: background-color 0.3s ease;
}

.step.active {
  background-color: #00688c;
}
#forget-password {
  margin: 0;
}
#forget-password-link {
  margin: 0;
  font-size: 17px;
  color: white;
}
#Reset-link-msg {
  font-size: 25px;
}
.reset-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.Toastify__toast {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin-bottom: 12px;
  width: 400px;
}

.oracle-toast {
  background: rgba(171, 171, 171, 100%);
  border-radius: 17px;
  padding: 8px 16.5px;
  width: 400px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.oracle-toast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.oracle-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.oracle-icon {
  width: 28px;
  height: 28px;
}

.oracle-title {
  font-size: 14px;
  font-weight: 700;
  color: #646464;
  letter-spacing: 0.5px;
}

.oracle-time {
  font-size: 14px;
  color: #646464;
}

.oracle-message {
  font-size: 19px;
  font-weight: 500;
  color: #222;
  margin: 0;
  margin-top: 4px;
}
.bell-wrapper {
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
}
.bell-icon {
  width: 50px;
}
.bell-badge {
  position: absolute;
  top: 1px;
  right: 1px;
  background: #c74634;
  color: white;
  font-size: 12px;
  min-width: 16px;
  height: 20px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
}

.notif-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 999;
  animation: fadeIn 0.25s ease-in;
}

.notif-panel {
  width: 400px;
  background: rgba(55, 55, 55, 0.85);
  padding: 18px 18px 24px;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.notif-panel-header {
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin-bottom: 12px;
}

.notif-panel-header h3 {
  color: white;
  margin: 0;
  font-size: 18px;
}

.notif-panel-header button {
  background: transparent;
  border: none;
  color: #d0d0d0;
  cursor: pointer;
  font-size: 18px;
}

.notif-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.notif-empty {
  align-self: center;
  color: #d0d0d0;
}
.notif-row {
  background: #e5e5e5;
  border-radius: 17px;
  padding: 8px 16.5px;
  height: 60px;
  position: relative;
}

.notif-row-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.notif-left {
  display: flex;
  align-items: center;
  gap: 6px;
}

.notif-oracle-icon {
  width: 22px;
  height: 22px;
}

.notif-oracle-title {
  font-size: 13px;
  font-weight: 700;
  color: #757575;
}

.notif-time {
  font-size: 13px;
  color: #a0a0a0;
}

.notif-row-message {
  margin: 0;
  font-size: 18px;
  color: #222;
  position: absolute;
  bottom: 9px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* @media (max-width: 768px) {
  .page-container {
    grid-template: 20% 60% 1fr / 1fr;
  }
  .landing-page-logo {
    grid-area: 1 / 1;
    margin: 3%;
  }
  #landing-lady-img {
    display: none;
  }
  .page-content {
    grid-area: 2 / 1;
    margin: 5%;
    line-height: 15px;
    font-family: 'oracle sans', sans-serif;
  }

  .page-content h2 {
    font-size: 35px;
    font-weight: 300;
  }
  .page-content h1 {
    font-size: 55px;
  }
  .page-content p {
    font-size: 20px;
    font-weight: 150;
    line-height: 26px;
    width: 100%;
  }
  .page-content button {
    margin-top: 20px;
    padding: 15px 20px;
    font-size: 16px;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
  }
} */
